@media screen and (max-width: 1240px){

	.content {
	margin-left: 58px;
	}
	.social {
 	padding-bottom: 24px;
	margin-left: 58px;
	}
 	.kontakt {
 	padding-bottom: 24px;
 	margin-right: 58px;
	}
	.stoim2 {
		margin-left: 45px;
	}
	.stoim3 {
		margin-left: 45px;
	}
}
@media screen and (max-width: 1024px){

	 body {
 	background: url(../img/bg_tab_sto.png); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Exo 2', sans-serif;
 	}
 	.phone {
	letter-spacing: 0.45px;
	}
	
	h2 {
		margin-top: 90px;
	}

	.one {
		width: 275px;
	}
	.stoim1 {
		margin-top: 60px;
	}
	.stoim2 {
		margin-top: -60px;
		margin-left: 0px;
	}
	.stoim3 {
		height: 190px;
		margin-top: -60px;
		margin-left: 0px;
	}
	.pos {
	margin-top: 5px;
}
.mno {
	margin-top: 5px;
}

.tor {
	margin-top: 5px;
}
.button {
	margin-top: 15px;
}
.buttons {
	margin-top: 15px;
}
.buttonss {
	margin-top: 15px;
}
.trr {
	display: none;
}
.tex {
	display: none;
}

}
@media screen and (max-width: 768px) {

	.menu {
	display: none;
	}
	.shape {
	display: inline-block;
	}
	.blok_menu {
	width: 82vw;
	}
	.application {
    margin-top: 110px;
 width: 90vw;
}
 
.applicationName {
    width: 80vw;
   margin-left: 16px;
   
}

.applicationTelephone {
   
   width: 80vw;
    margin-left: 16px;
}

.applicationSms {
    width: 80vw;
    margin-left: 16px;
}

.applicationButton {
    width: 80vw;
    margin-left: 16px;  
}
 .logo {
 	font-size: 22px;
 	}
}
@media screen and (max-width: 480px) {

	body {
   background: url(../img/mob_STO.png); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  	}
  	.logotip {
	 margin-left: 16px
	}
	h2 {
		margin-top: 70px;
	}
	.shape {
	display: inline-block;
	}
	.blok_menu {
	width: 82vw;
	}
	.content {
	margin-left: 16px;
	margin-right: 16px;
	}
	.social {
	padding-bottom: 16px;
	margin-left: 16px;
	}
 	.kontakt {
	padding-bottom: 16px;
 	margin-right: 16px;
 	}
}

@media screen and (max-width: 380px) {

.zed hr {
	width: 208px;
}
.phone {
	letter-spacing: 0px;
	}
}
