 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
box-sizing: border-box;
}

body {
	background: url(../img/gifkaw.gif); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	font-family: ft40;
}

 #second {
 	overflow: hidden;
 	min-height: 95vh;
 	padding-bottom: 90px;
 }
 
 .header {
 	padding-top: 24px;
 }

 a {
    color: #FFFFFF;
    text-decoration: none; 
   }

 .logotip {
 	float: left;
 	margin-left: 24px;
 }

 .logo {
    font-size: 18px;
 }

 .logo span {
 	font-size: 12px;
 }

 .menu {
 	float: right;
	white-space: nowrap;
	padding: 0px;
	margin-right: 24px;
	font-size: 18px;
}

.a {
	margin-right: 40px;
	display: inline-block;
}

.s {
	margin-right: 40px;
	display: inline-block;

}
.d {
	margin-right: 40px;
	display: inline-block;

}

.f { 
	margin-right: 40px;
	display: inline-block;

}

.g {
	display: inline-block;
}
.a:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;
}

.s:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;

}
.d:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;

}

.g:hover {
	display: inline-block;
	color: #57068d;
}

.content {
	margin-left: 88px;
}

h2 {
	font-size: 36px;
	margin-top: 90px;
	padding: 0px;
	text-shadow: 0px 8px 8px rgba(0,0,0,0.25),
0 0 8px rgba(0,0,0,0.12);
}
.hr {
	border: none;
	width: 165px;
	height: 7px;
	background-color: #6155B6;
	margin-left: 0px;
	margin-top: 5px;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
0 0 8px rgba(0,0,0,0.12);
}
.stoim1 {
	float: left;
	height: 300px;
	width: 275px;
	margin-top: 80px;
}
.stoim2 {
	margin-left: 100px;
	margin-top: 80px;
	float: left;
	height: 300px;
	width: 275px;
}
.stoim3 {
	margin-left: 100px;
	margin-top: 80px;
	float: left;
	height: 300px;
	width: 275px;
}
.l {
	letter-spacing: 0.5px;
	font-size: 24px;
	text-shadow: 0px 8px 8px rgba(0,0,0,0.25),
0 0 8px rgba(0,0,0,0.12);
}
.sa {
	letter-spacing: 0.5px;
	font-size: 24px;
		text-shadow: 0px 8px 8px rgba(0,0,0,0.25),
0 0 8px rgba(0,0,0,0.12);
}

.i {
		text-shadow: 0px 8px 8px rgba(0,0,0,0.25),
0 0 8px rgba(0,0,0,0.12);
	letter-spacing: 0.5px;
	font-size: 24px;
}
.linel {
	margin-left: -6px;
}
.lines {
	margin-left: -6px;
}
.line {
	margin-left: -6px;
}
.pos {
	letter-spacing: 0.5px;
	font-size: 16px;
	max-width: 225px;
	margin-top: 15px;
}
.mno {
	letter-spacing: 0.5px;
	font-size: 16px;
	margin-top: 15px;
	max-width: 290px;
}

.tor {
	letter-spacing: 0.5px;
	font-size: 16px;
	margin-top: 15px;
	max-width: 208px;
}

 .pos span {
 	font-size: 24px;
 }
 .mno span {
 	font-size: 24px;
 }
 .tor span {
 	font-size: 24px;
 }

 .button {
 	position: absolute;
	background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
	0 0 8px rgba(0,0,0,0.12);
	font-size: 24px;
	border-radius: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-left: -1px;
	margin-top: 60px;
}
.button:hover {
	box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.button:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}
.buttons {
	position: absolute;
	background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
	0 0 8px rgba(0,0,0,0.12);
	font-size: 24px;
	border-radius: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 60px;
}

.buttons:hover {
	box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.buttons:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}
.buttonss {
	position: absolute;
	background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
	0 0 8px rgba(0,0,0,0.12);
	font-size: 24px;
	border-radius: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-top: 60px;
}
.buttonss:hover {
	box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.buttonss:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}
.tex {
	margin-top: 500px; 
	min-height: 20px;
	letter-spacing: 0.5px;
	font-size: 16px;
	max-width: 820px;
}
.trr {
	letter-spacing: 0.5px;
	font-size: 16px;
	max-width: 650px;
	
}
.social {
	padding-bottom: 16px;
	font-family: fontawesome;
 	float: left;
 	font-size: 30px;
 	margin-left: 88px;
 } 	

 .be:hover {
 	color: #57068d;
 }
 .in:hover {
 	color: #57068d;
 }

 .dr:hover {
 	color: #57068d;
 }

 .kontakt {
 	padding-bottom: 16px;
 	float: right;
 	margin-right: 88px;

 }

 .phone {
	font-size: 19px;
}
.info {
		font-size: 11px;
}
.shape {
	display: none;
	font-size: 24px; 
	font-family: fontawesome;
	float: right;
	margin-right: 24px;
	margin-top: -3px;

}
.shape:hover {
	color: #57068d;
}
.blok_menu {
	border-radius: 3px;
	box-shadow: 0px 16px 16px rgba(0,0,0,0.25),
    0 0 16px rgba(0,0,0,0.12);
	margin-right: 24px;
	margin-top: 24px;
	float: right;
	width: 320px;
	height: 300px;
	background: linear-gradient(130.38deg, #841C9E 9.47%, #07246F 135.27%);
}
.zed {
	width: 150px;
	margin-left: 24px;
	margin-top: 54px; 
	font-size: 18px;
}
.zed hr {
	margin-bottom: 24px;
	color: #ffffff;
	opacity: 0.2;
	margin-left: 0px;
	width: 272px;
}
.zd1:hover {
	color: #57068d;
}
.zd2:hover {
	color: #57068d;
}
.zd3:hover {
	color: #57068d;
}
.zd4:hover {
	color: #57068d;
}

.modalDialog1 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog1:target {
    display: block;
    pointer-events: auto;

}
.close1 {
	background: #6c45af;
	color: #FFFFFF;
	line-height: 25px;
	float: right;
	margin-top: 0px;
	margin-right: 0px; 
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),0 0 4px rgba(0,0,0,0.12);
}

.close1:hover { background: #00d9ff; }
/* Базовые стили модального окна  */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;

}
.close {
	background: #6c45af;
	color: #FFFFFF;
	line-height: 25px;
	float: right;
	margin-top: -10px;
	margin-right: -10px; 
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),0 0 4px rgba(0,0,0,0.12);
}

.close:hover { background: #00d9ff; }
/* Стили формы */

.application {
    box-shadow: 0px 16px 16px rgba(0,0,0,0.25),
    0 0 16px rgba(0,0,0,0.12);
    border-radius: 3px;
    height: 370px;
    width: 592px;
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(130.38deg, #841C9E 9.47%, #07246F 135.27%);
}
 
/*Стили полей для ввода*/
.applicationName {
	z-index: 9999;
	position: relative;
    letter-spacing: 0.5px;
    margin-left: 96px;
    width: 400px;
    height: 35px;
    background: none;
    margin-top: 45px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;
}

.applicationTelephone {
    letter-spacing: 0.5px;
    margin-left: 96px;
    width: 400px;
    height: 35px;
    background: none;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;

}

.applicationSms {
    letter-spacing: 0.5px;
    margin-left: 96px;
    width: 400px;
    height: 105px;
    background: none;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;

}
/*Стили полей при клике по ним*/
.applicationName:focus,#applicationTelephone:focus {
    border: 1px solid #30ad64;
}
 
/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
 
::-moz-placeholder  {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */
 
:-moz-placeholder {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */
 
:-ms-input-placeholder {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
 
::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/*Стили для кнопки*/
.applicationButton {
    letter-spacing: 0.5px;
    margin-left: 96px;
    margin-top: 25px;
    background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
    border: none;
    width: 400px;
    height: 55px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    font-family: ft40;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
    0 0 8px rgba(0,0,0,0.12);

}
.applicationButton:hover {
        {box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.applicationButton:active {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}
