 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
* {
box-sizing: border-box;
}
  
body {
    background: url(../img/gifka.gif); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	padding: 0px;
	margin: 0px;
	color: #FFFFFF;
	font-family: ft40;
	
 }

 #first {
 	box-sizing: border-box;
 	min-height: 95vh;
 }
 .header {
 	padding-top: 24px;
 }

 a {
    color: #FFFFFF;
    text-decoration: none; 
   }

 .logotip {
 	float: left;
 	margin-left: 24px;
 	letter-spacing: 0.5px;
 }

 .logo {
    font-size: 18px;
 }

 .logo span {
 	font-size: 12px;
 }

 .menu {
 	float: right;
	font-size: 18px;
	white-space: nowrap;
	padding: 0px;
	margin-right: 24px;

}

.a {
	letter-spacing: 0.5px;
	margin-right: 40px;
	display: inline-block;
}

.s {
	letter-spacing: 0.5px;
	margin-right: 40px;
	display: inline-block;

}
.d {
	letter-spacing: 0.5px;
	margin-right: 40px;
	display: inline-block;

}

.f { 
	margin-right: 40px;
	display: inline-block;

}

.g {
	letter-spacing: 0.5px;
	display: inline-block;
}
.a:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;
}

.s:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;

}
.d:hover {
	margin-right: 40px;
	display: inline-block;
	color: #57068d;

}

.g:hover {
	color: #57068d;
}

.content {
	margin-left: 88px;
	margin-right: 78px;
}

 h1 {
 	font-weight: 700;
 	margin-top: 255px;
	font-size: 50px;
	letter-spacing: 0.5px;
 }

 h3 {
 	margin-top: 2px;
	font-size: 24px;
	letter-spacing: 0.5px;
}

.button {
	position: absolute;
	background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
	0 0 8px rgba(0,0,0,0.12);
	margin-top: 15px;
	font-size: 24px;
	border-radius: 10px;
	padding-right: 60px;
	padding-left: 60px;
	padding-top: 16px;
	padding-bottom: 16px;
	letter-spacing: 0.5px;
}
.button:hover {
	box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.button:active {
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}

.social {
	padding-bottom: 16px;
	font-family: fontawesome;
 	float: left;
 	font-size: 30px;
 	margin-left: 88px;
 } 	
.in {
	display: none;
}
 .be:hover {
 	color: #57068d;
 }

 .in:hover {
 	color: #57068d;
 }
.dr {
	display: none;
}
 .dr:hover {
 	color: #57068d;
 }

 .kontakt {
 	padding-bottom: 16px;
 	float: right;
 	margin-right: 88px;

 }

 .phone {
	font-size: 19px;
}
.info {
		font-size: 11px;
}
.shape {
	display: none;
	font-size: 24px; 
	font-family: fontawesome;
	float: right;
	margin-right: 24px;
	margin-top: -3px;

}
.shape:hover {
	color: #57068d;
}

.blok_menu {
	border-radius: 3px;
	box-shadow: 0px 16px 16px rgba(0,0,0,0.25),
    0 0 16px rgba(0,0,0,0.12);
	margin-right: 24px;
	margin-top: 24px;
	float: right;
	width: 320px;
	height: 300px;
	background: linear-gradient(130.38deg, #841C9E 9.47%, #07246F 135.27%);
}
.zed {
	width: 150px;
	margin-left: 24px;
	margin-top: 54px; 
	font-size: 18px;
}
.zed hr {
	margin-bottom: 24px;
	color: #ffffff;
	opacity: 0.2;
	margin-left: 0px;
	width: 272px;
}
.zd1:hover {
	color: #57068d;
}
.zd2:hover {
	color: #57068d;
}
.zd3:hover {
	color: #57068d;
}
.zd4:hover {
	color: #57068d;
}

.modalDialog1 {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog1:target {
    display: block;
    pointer-events: auto;

}
.close1 {
	color: #FFFFFF;
	line-height: 25px;
	float: right;
	margin-top: 0px;
	margin-right: 0px; 
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	
}

.close1:hover { background: #00d9ff; }

/* Стили формы */
/* Базовые стили модального окна  */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}
.modalDialog:target {
    display: block;
    pointer-events: auto;

}
.close {
	color: #FFFFFF;
	line-height: 25px;
	float: right; 
	text-align: center;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	
}

.close:hover { background: #00d9ff; }
/* Стили формы */

.application {
    box-shadow: 0px 16px 16px rgba(0,0,0,0.25),
    0 0 16px rgba(0,0,0,0.12);
    border-radius: 3px;
    height: 370px;
    width: 592px;
    margin-top: 330px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(130.38deg, #841C9E 9.47%, #07246F 135.27%);
}
 
/*Стили полей для ввода*/
.applicationName {
	z-index: 9999;
	position: relative;
    letter-spacing: 0.5px;
    margin-left: 96px;
    padding-left: 16px;
    width: 400px;
    height: 35px;
    background: none;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;

}

.applicationTelephone {
    letter-spacing: 0.5px;
    margin-left: 96px;
    width: 400px;
    height: 35px;
    background: none;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    padding-left: 16px;


}

.applicationSms {
    letter-spacing: 0.5px;
    margin-left: 96px;
    width: 400px;
    height: 105px;
    background: none;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    text-align: left;
    color: #fff;
    font-size: 16px;
    padding-left: 16px;


}
/*Стили полей при клике по ним*/
.applicationName:focus,#applicationTelephone:focus {
    border: 1px solid #30ad64;
}
 
/*Стили текста, выводящегося в placeholder*/
::-webkit-input-placeholder {
    color: #efefef;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    opacity: 0.5;
}
 
::-moz-placeholder  {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 19+ */
 
:-moz-placeholder {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}  /* Firefox 18- */
 
:-ms-input-placeholder {
    color: #fff;
    font-family: ft40;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
 
::placeholder {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/*Стили для кнопки*/
.applicationButton {
    letter-spacing: 0.5px;
    margin-left: 96px;
    margin-top: 25px;
    background: linear-gradient(105.07deg, #841C9E -116.07%, #35A4D8 540.66%);
    border: none;
    width: 400px;
    height: 55px;
    border-radius: 3px;
    color: #fff;
    font-size: 24px;
    font-family: ft40;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.25),
    0 0 8px rgba(0,0,0,0.12);

}
.applicationButton:hover {
        {box-shadow: 0px 14px 14px rgba(0,0,0,0.25),
0 0 14px rgba(0,0,0,0.12);
}
.applicationButton:active {
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25),
    0 0 4px rgba(0,0,0,0.12);
}

